{% extends "layout.jinja2" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='dist/css/landing.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include "navigation-default.jinja2" %}
    <div class="container">
        <div class="row">
            <h1>Find users with certain video actions</h1>
            <p>Uses parameters action, start_time and end_time in the URL request</p>
            <p> e.g. <a href="{{ url_for('main_bp.get_video_actions',start_time=700) }}">/get_video_actions?start_time=700</a> will show any video activity on or after time 700</p>
            <p> likewise <a href="{{ url_for('main_bp.get_video_actions',action="stop",start_time=400,end_time=600) }}">/get_video_actions?action=stop&start_time=400&end_time=600</a> will show any video stops between times 400 and 600</p>
            <p> <a href="{{ url_for('main_bp.get_video_actions') }}">/get_video_actions</a> on its own shows all activity</p>
        </div>
        {% if results %}
            <div class="row">
                {% set affected_users = [] %}
                    {% for s in results %}
                        {% if s.user_id not in affected_users %}
                            {{ affected_users.append(s.user_id)|default("", True) }}
                        {% endif %}
                    {% endfor %}
                <h2>Affected user(s):
                   {{ affected_users|join(', ') }}
                </h2>
            </div>
            <div class="row">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">User ID</th>
                                    <th scope="col">Device</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Actioned at</th>
                                </tr>
                                </thead>
                                {% for s in results %}
                                    <tbody>
                                        <tr>
                                            <td>{{ s.user_id }}</td>
                                            <td>{{ s.device }}</td>
                                            <td>{{ s.action }}</td>
                                            <td>{{ s.date_actioned }}</td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row p-3">
                <p class="text-danger">No video actions found</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
