<nav class="navbar navbar-expand-lg navbar-white bg-white mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main_bp.home') }}"><img class="rounded-circle" style="width: 3rem;" src="{{ url_for('static', filename='img/favicon.png') }}" alt="Home" /></a>
    <button class="navbar-toggler border-primary text-danger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main_bp.home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main_bp.get_video_actions') }}">Users from video actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main_bp.get_video_times') }}">Video watch duration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('api_bp.api_user_app_permissions', user_id=1) }}">User app permissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main_bp.api') }}">API info</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
